/* Style sheet for Reveal.js Presentations
Auteur : David Carayon
2017
*/


#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

/* Logo */
body:after {
content: url(logo_INRAE.png);
position: fixed;
top: 3.5em;
right: 3.5em;}

<style>

/* Headings */

.reveal h1 { /* Heading 1 */
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); /* shadows */
	font-weight: bold; /* bold */
	color: #00a3a6
}

.reveal h2.author { /* Heading 2 for an author */
	font-style: normal; /* could make bold or italics */
	color: #00a3a6
}


/* Images */

.reveal section img{ /* images */
  border: 0px;
  box-shadow: none;/* no border but still shadow */
}


/* Slide content area */
/* these need to be at the bottom, do NOT move them */

.reveal .slides { /* all slide content */
  text-align: left; /* left align */
  font-size: 80%; /* smaller text */
}

.reveal .slides section>* { /* this is for left align */
  margin-left: 0;
  margin-right: 0;
}
  
  
.container{
    display: flex;
}
.col{
    flex: 1;
} 
  
  
  
  
</style>
