/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #275662;
$link-color: #008c8e;
$presentation-heading-font: "Avenir Next LT Pro";
$presentation-heading-color: #00a3a6;
$presentation-heading-line-height: 1.2;
$presentation-h1-font-size: 1.4em;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .footer p {
  background: -webkit-linear-gradient(#275662, #00a3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 font-size: 1.2em;
 font-weight: bold;
}

.reveal .slide-number-a {
 color: #275662;
 font-size: 1.4em;
}

.reveal .slide-number-delimiter {
 color: #275662;
 font-size: 1.4em;
}

.reveal .slide-number-b {
 color: #275662;
 font-size: 1.4em;
}

.reveal img.slide-logo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 12px;
    max-height: 1.5em;
    height: 100%;
    width: auto;
}

.author {
  background: -webkit-linear-gradient(#275662, #00a3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.5em;
  text-align: right;
}

.date {
  background: -webkit-linear-gradient(#275662, #00a3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.5em;
  text-align: right;
}

.subtitle {
  background: -webkit-linear-gradient(#275662, #00a3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.5em;
  text-align: right;
}

.reveal h1.title {
  font-family: "Avenir Next LT Pro";
  font-size: 1.8em;
  text-transform: uppercase;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* shadows */
  background: -webkit-linear-gradient(#275662, #00a3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1em;
}

.reveal h1 {
  font-family: "Avenir Next LT Pro";
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#FFF, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reveal h2 {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* shadows */
  background: -webkit-linear-gradient(#275662, #00a3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway";
  font-weight: bold;
}

.reveal p {
  font-size: 0.8em;
  color: #275662;
}

.reveal .slides section>* { /* this is for left align */
  margin-left: 0;
  margin-right: 0;
}

.container{
    display: flex;
}
.col{
    flex: 1;
}
