/**************************************
CSS template inspired by Dr. A. Bichat
https://github.com/abichat/defense/
***************************************/

:root {
  --inrae: #008c8e;
  --gris-fonce: #313E48;
  --gris: #7C8790;
  --gris-clair: #D6DBDF;
  --bleu: #0E87C9;
  --logo: url(bloc_etat_white_small.png);
}

/******************************
  Main slide
******************************/

.remark-slide-content {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  color: var(--gris-fonce);
  border-bottom: 10px solid var(--inrae);
}

.remark-slide-content > h1:first-of-type {
  margin-top: 0px;
}

.remark-slide-content > h1 {
  margin-top: 0px;
  color: var(--inrae);
}


/******************************
  Inverse slide
******************************/

.inverse .remark-slide-number {
  display: none;
}

.inverse {
  background-color: var(--inrae);
  border: 10px solid var(--gris-fonce);
  color: var(--gris-clair);
  text-shadow: none;
  font-size: 30px;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: var(--gris-clair);
  text-shadow: none;
  margin: 20px;
}

.inverse h1 {
  font-size: 70px;
}
.inverse h2 {
  font-size: 50px;
}
.inverse h3 {
  font-size: 40px;
}

/******************************
  Title slide
******************************/

.title-slide .remark-slide-number {
  display: none;
}

.title-slide {
  background-color: var(--inrae);
  border: 10px solid var(--inrae);
}

.title-slide {
  background-image: var(--logo); /* logo */
  background-position: right 30px top 30px;
  background-size: 300px;
}

.title-slide h1  {
  color: var(--gris-clair);
  font-size: 50px;
  text-shadow: none;
  font-weight: 500;
  text-align: left;
  margin-left: 15px;
  margin-right: 30px;
  padding-top: 100px;
}

.title-slide h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: var(--gris-clair);
  text-shadow: none;
  font-weight: 300;
  font-size: 40px;
  text-align: left;
  margin-left: 15px;
}

.title-slide h3  {
  color: var(--gris-clair);
  text-shadow: none;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -20px;
}

/* line after h2 title */
hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  background-color: var(--gris-clair);
  height: 2px;
}

.title-slide h2::after {
  margin: 10px 15px 35px 0;
}

.mline h1::after {
  margin: 10px 15px 0 15px;
}

/******************************
  End slide
******************************/

.end-slide .remark-slide-number {
  display: none;
}

.end-slide {
  font-size: 15px;
  background-color: var(--inrae);
  border: 10px solid var(--inrae);
  background-image: var(--logo); /* logo */
  background-position: left 50px bottom 50px;
  background-size: 300px;
}

.end-slide h1 {
  font-size: 80px;
  color: var(--gris-clair);
  margin-bottom: 100px;
}

.end-slide h2 {
  font-size: 35px;
  margin: 15px;
  margin-bottom: 0px;
  margin-left: 53%;
  color: var(--gris-clair);
}

.end-slide h2:first-of-type{
  margin-top: 90px;
}

.end-slide h2 a {
  color: var(--gris-clair);
}

.pull-down {
  position: absolute;
  bottom: 50px;
}

/******************************
  Code and link formatting
******************************/

a, a > code {
  color: var(--bleu);
  text-decoration: none;
}

.remark-code-line-highlighted {
  background-color: #ffff88;
}

/******************************
  Last items
******************************/

.bold-last-item > ul > li:last-of-type,
.bold-last-item > ol > li:last-of-type {
  font-weight: bold;
}

.highlight-last-item > ul > li,
.highlight-last-item > ol > li {
  opacity: 0.5;
}
.highlight-last-item > ul > li:last-of-type,
.highlight-last-item > ol > li:last-of-type {
  opacity: 1;
}

/******************************
  Footnotes
******************************/

/* footnote identifier */
.fn {
  vertical-align: super;
  font-size: 60%;
}

.footnote {
  position: absolute;
  bottom: 2em;
  padding-right: 4em;
  font-size: 70%;
  border-top: 2px solid var(--inrae);
}

/******************************
  Boxes
******************************/

.content-box {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  width: 100%;
  background-color: var(--gris-clair);
  color: var(--gris-fonce);
}

.content-box .remark-code {
  background-color: white;
}


/******************************
  Blockquotes
******************************/

blockquote, .blockquote {
  border-left-color: var(--inrae); /* doesn't work :/ */
}


/******************************
  Two-column layout
******************************/

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

/* More on the left or the right but doesn't work as expected
.pull-left-2 {
  float: left;
  width: 60%;
}
.pull-right-1 {
  float: right;
  width: 36%;
}

.pull-left-1 {
  float: left;
  width: 36%;
}
.pull-right-2 {
  float: right;
  width: 60%;
}

*/



/******************************
  Slide numbering
******************************/

.remark-slide-number {
  color: var(--gris);
  opacity: 1;
  font-size: 90%;
}

/* Slide without slide number*/
.noslidenumber .remark-slide-number {
  display: none;
}

/*********************************
  Keep incremental slides in PDF
*********************************/

@media print {
  .has-continuation {
    display: block !important;
  }
}


/******************************
  Scrolling
******************************/

.scroll-output {
  height: 85%;
  overflow-y: scroll;
}
.scroll-box-8 {
  height:8em;
  overflow-y: scroll;
}
.scroll-box-10 {
  height:10em;
  overflow-y: scroll;
}
.scroll-box-12 {
  height:12em;
  overflow-y: scroll;
}
.scroll-box-14 {
  height:14em;
  overflow-y: scroll;
}
.scroll-box-16 {
  height:16em;
  overflow-y: scroll;
}
.scroll-box-18 {
  height:18em;
  overflow-y: scroll;
}
.scroll-box-20 {
  height:20em;
  overflow-y: scroll;
}

/******************************
  Miscellanous from default
******************************/

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
