/* Style sheet for Reveal.js Presentations
Auteur : David Carayon
2017
*/


#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}


<style>

/* Headings */



.reveal p, ul, li {
  color: #000000;
  font-family: "Avenir Next Pro Light";
}

/* titres */

.reveal h2 {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* shadows */
  color: #00a3a6;
  font-family: "Raleway";
  font-weight: bold;
}

.reveal h1 {
  font-family: "Raleway";
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* shadows */
}



.reveal h2.author {
  color: #00a3a6;
  font-weight: normal;
}

/* Images */

.reveal section img{ /* images */
  border: 0px;
  box-shadow: none;/* no border but still shadow */
}


/* Slide content area */
/* these need to be at the bottom, do NOT move them */

.reveal .slides { /* all slide content */
  text-align: left; /* left align */
  font-size: 80%; /* smaller text */
}

.reveal .slides section>* { /* this is for left align */
  margin-left: 0;
  margin-right: 0;
}
  
  
.container{
    display: flex;
}
.col{
    flex: 1;
} 
  
/********** Customise logo, and footer disclaimer **********/
/* Position the corporate logo in the top right of the page */

#header-footer .slide-logo {
  position: absolute;
  top: 15px;
  right: 50px;
  width: 150px;
}

/* Style/position the footer text */
#header-footer .slide-footer {
    position: fixed; 
    bottom: 15px;
    right: 60px;
    width: 80px;
}
  
  
</style>