/* DISCLAIMER : Code inspiration from package {rtemps} (https://github.com/bblodfon/rtemps) */
/* Modified by D. Carayon (INRAE) */

body {
  font-size: 1.6rem;
  text-align: justify;
}

.title {
  font-size: 47px;
  color: firebrick;
}

h1,h2,h3,h4,h5 {
  text-align: left;
}

.blue-box {
  background-color: #e6f0ff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.green-box {
  background-color: #d9ffe9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.orange-box {
  background-color: #ffeedf;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.info-box {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}